/* CSS declarations go here */

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('helveticaneuecyr-thin-webfont.eot');
    src: url('helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('helveticaneuecyr-thin-webfont.ttf') format('truetype'),
         url('helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
  margin-top: -40px
  padding-top:40px;

body, #add_match
  font-family:'helveticaneuecyrthin'

.players {
  width: 960px;
  height: 100%;
  margin-top: 40px
  margin-left: 145px
  padding-top: 40px
}

.login_box
  overflow:hidden
  height:55px


.player_a, .player_b {
  display: inline-block;
  vertical-align: top;
}


.player_a label, .player_b label 
  display: block



.wtf h1 
  text-align:center

.one, .two {
  display:inline-block;
  vertical-align: top;
}


.player_box {
  width: 200px
  height: 50px
  line-height: 50px
  padding-left: 20px 
  background: #f4f4f4
  font-size:20px
}


::-webkit-input-placeholder {
  background: #f4f4f4
  font-size: 20px
  height:100%
  width: 100%
  font-family:'helveticaneuecyrthin'

}

.games ul li:nth-child(odd)
  background: #f4f4f4

.games ul
  margin:0
  padding:0
  list-style-type:none

.games li
  font-size: 20px
  padding: 10px 0px 10px 10px
  color: #666
  border: 1px solid #ddd
  margin:5px 0 5px 0

.games ul li:nth-child(even)
  border:none


.games
  width: 645px
  padding-top: 40px
  margin-bottom: 100px
  margin-left: 145px


.livestamp
  color: #999
  font-size: 15px
  padding-left: 10px

.versus 
  font-size: 10px

#add_match 
  background-color:#59b1f6
  color: #ffffff
  border: 1px solid #2284d1
  border-radius: 3px
  height: 50px
  vertical-align:top
  width: 150px
  height: 55px
  font-size: 24px 

#add_match:hover 
  background: #87CAFF
  cursor: pointer

.players span
  font-size: 11px
  color: #666
  margin:0px 10px
  padding-top: 26px
  display: inline-block


.cover
  height: 270px
  width: 800px
  background: url(pes.png) no-repeat;
  background-size: cover
  margin-left: 145px

.login 
  text-align: right
  width: 100%
  margin: 0 auto
  margin-bottom: 15px
  height:30px
  color: #ffffff
  background: #000000
  padding: 10px 0px 10px 0px
  position: fixed

.login_inner
  padding-right: 400px


.owner 
  display:inline-block
  vertical-align: top
  font-size: 12px
  padding-top: 6px

